body {
    width: 95%;
    margin: auto;
}

table {
    width: 75%;
    margin: auto;
}

th {
    height: 50px;
    background-color: #f5f5f5;
}

th, td {
    padding: 15px 0px 15px 15px;
    border-bottom: 1px solid rgb(185, 183, 183);
}

tr {
    padding: 15px 0px 15px 15px;
}
.table{
    margin: 20px;
}
